<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List View</title>
</head>
<body>
{% if request.user.is_authenticated %}
<h1>{{request.user}}</h1>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>
<form method="GET">
    <input type="text" name="search_area" value="{{ search_input }}">
    <input type="submit" value="Search">
</form>
<table>
    <tr>
        <th>Title</th>
        <th>link</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {% if not tasks %}
    <p>No item to display</p>
    {% else %}
    {% for item in tasks %}
    <tr>
        <td>{{ item.title }}</td>
        <td><a href="{% url 'detail' item.id %}">View details</a></td>
        <td><a href="{% url 'update' item.id %}">Update</a></td>
        <td><a href="{% url 'delete' item.id %}">Delete</a></td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
<p><a href="{% url 'create' %}">Create new item</a></p>
</body>
</html>